cse_id: Google CSE id https://support.google.com/customsearch/answer/2630963?hl=en
api_key: Google Developers Console https://developers.google.com/custom-search/json-api/v1/overview#related_documents
token: Slack token for the slash command integration.
team_domain: Slack team name.
